body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
 padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
 }
.profile {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	padding: 20px;
	text-align: center;
	max-width: 400px;
	width: 100%;
 }
.profile img {
	width: 150px;
	border-radius: 50%;
	margin-bottom: 20px;
 }
.book {
	width: 100px;
	margin: 0 auto 20px;
 }
